.pager li .active_link {

    background: #000 !important;

}


.form-control.pwd {

    background: black !important;
    width: 30%;

}


:root {
    --ck-image-style-spacing: 1.5em;
}

.image {

    & .image-style-side,
    & .image-style-align-left,
    & .image-style-align-center,
    & .image-style-align-right {
        max-width: 50%;
    }

    & .image-style-side {
        float: right;
        margin-left: var(--ck-image-style-spacing);
    }

    & .image-style-align-left {
        float: left;
        margin-right: var(--ck-image-style-spacing);
    }

    & .image-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }

    & .image-style-align-right {
        float: right;
        margin-left: var(--ck-image-style-spacing);
    }
}

.image>figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 97%);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}

.image.image_resized {
    max-width: 100%;
    /*
	The `<figure>` element for resized images must not use `display:table` as browsers do not support `max-width` for it well.
	See https://stackoverflow.com/questions/4019604/chrome-safari-ignoring-max-width-in-table/14420691#14420691 for more.
	Fortunately, since we control the width, there is no risk that the image will look bad.
	*/
    display: block;
    box-sizing: border-box;

    & img {
        /* For resized images it is the `<figure>` element that determines the image width. */
        width: 100%;
    }

    &>figcaption {
        /* The `<figure>` element uses `display:block`, so `<figcaption>` also has to. */
        display: block;
    }
}

.ck-content .image {
    display: table;
    clear: both;
    text-align: center;

    /* Make sure there is some space between the content and the image. Center image by default. */
    margin: 1em auto;

    &>img {
        /* Prevent unnecessary margins caused by line-height (see #44). */
        display: block;

        /* Center the image if its width is smaller than the content's width. */
        margin: 0 auto;

        /* Make sure the image never exceeds the size of the parent container (ckeditor/ckeditor5-ui#67). */
        max-width: 100%;

        /* Make sure the caption will be displayed properly (See: https://github.com/ckeditor/ckeditor5/issues/1870). */
        min-width: 50px;
    }
}