.pager li .active_link {

    background: #000 !important;

}


.form-control.pwd {

    background: black !important;
    width: 30%;

}


.image .image-style-side {
    float: right;
    margin-left: auto;
    max-width: 50%;
}

.image .image-style-align-left {
    float: left;
    margin-right: auto;
}

.image .image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

.image .image-style-align-right {
    float: right;
    margin-left: auto;
}